# requirements.txt
fastapi
uvicorn
python-dotenv
openai
pydantic-settings
pymongo[srv]
pymupdf
python-docx
openpyxl
pandas
scikit-learn
python-multipart
numpy
xlrd
PyPDF2
matplotlib
plotly
passlib[bcrypt]
python-jose[cryptography]
